a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
}

.navntn{
    border-radius: 5px;
}

.link{
    border: 2px solid #dc3545;
    border-radius: 10px;
    color: #dc3545;
    background-color: black;
}

.link:hover{
    color: #dc3545;
}
